.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 99;
  background-color: rgb(238, 130, 238);
  
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(177, 93, 255);
    box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.2);
    border-radius: 4px;
    position: relative;
    z-index: 99;
    padding: 17px 10px;
  }
}
.right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #3498db;
  position: absolute;
  top: 15%;
  width: 50vh;
  height: 70%;
  border-radius: 6px;
  z-index: 1;
  transition: all 400ms ease-in-out;
  cursor: pointer;
  box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.281);

  &.right {
    right: 32%;
    align-items: flex-end;
    &:hover {
      right: 30%;
    }
  }
  &.left {
    right: 43%;
    align-items: flex-start;
    &:hover {
      right: 45%;
    }
  }

  .text {
    font-size: 21px;
    font-weight: 500;
    color: #fff;
    margin: 2rem;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  

  .form-header {
    font-size: 2.4rem;
  }

  .content {
    display: flex;
    flex-direction: column;

    &-image {
      width: 30rem;
    }

    &-form {
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      &-group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: fit-content;

        label {
          font-size: 2rem;
        }

        input {
          margin-top: .6rem;
          min-width: 22rem;
          height: 3.7rem;
          padding: 0 1rem;
          font-size: 1.6rem;
          font-family: 'Open Sans', sans-serif;
          background-color: #f3f3f3;
          border: none;
          border-radius: 1.5rem;
          margin-bottom: 3.1rem;
          transition: all .3s ease-in-out;

          &:hover {
            background-color: #f8f8f5;
          }

          &:focus {
            outline: none;
            box-shadow: 0 0 .6rem .6rem #5322d04f; //alternative #0e81ce96 or #00bbd4ab
            background-color: #fff;
          }
        }
      }
    }

    &-footer {
      margin-top: 2rem;
    }
  }
  
}
